@page
@model Trendify.Pages.Customer.ProductsModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Trendify</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.minn.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Trendify.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
    @*     <link rel="stylesheet" href="~/css/slider.css" asp-append-version="true" />
    *@
</head>
<body>
 
    <div class="container">

        <div class="flex-Row" style="flex-wrap:wrap">

            <div class="flex-Row" style="justify-content:space-between;align-items:center">
                <h2>Products</h2>
                @if (User.IsInRole("Admin"))
                {
                    <h1> <a class="btn btn-primary" asp-action="Create">Create New</a></h1>
                }


            </div>
            @foreach (var item in Model.Products)
            {
                <div class="card" style="width:23rem ;margin:4px">
                    <a asp-action="Details" asp-route-id="@item.CategoryID">
                        <img src="@item.ImageUrl" class="card-img-top post-thumbnail" style="width:100%;height:300px">

                    </a>
                    <div class="card-body" style="display:flex;flex-direction:column; width:100%;">
                        <div style="align-self:end"><h3 class="btn btn-dark" ,class="card-title" style="border-radius:5%; color:white;">@item.Price$</h3></div>

                        <div style=" justify-content:space-between;align-items:center">

                            <h4 class="card-title">@item.Name</h4>


                        </div>
                        <h6>@item.Description</h6>


                        <div style="display:flex; justify-content:space-around;margin-top:auto; width:100%">

                            <a class="btn btn-outline-dark" asp-controller="Products" asp-action="Details" asp-route-id="@item.ProductID">Details</a>

                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    @* <footer class=" footer ">
        <div class="container" style="color:gray;">
            &copy; 2023 - Trendify - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer> *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

</body>
</html>
