@using Trendify.Interface;
@inject IShoppingCart cartService

@{

    decimal totalPrice = cartService.GetTotalPrice(User.Identity.Name);
    int Count = cartService.GetTotalItemCount(User.Identity.Name);
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Trendify</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.minn.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Trendify.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
@*     <link rel="stylesheet" href="~/css/slider.css" asp-append-version="true" />
 *@</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
            <div class="container-fluid">
                <div>
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Trendify</a>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav flex-grow-1">
                        @if (User.IsInRole("Customer"))
                        {
                           
                           @*  <li class="nav-item">
                                    <a class="nav-link active" asp-area="" asp-page="/Customer/Products">Products</a>
                            </li> *@
                            <li class="nav-item">
                                <a class="nav-link active" asp-area="" asp-controller="Home" asp-action="Index">Home Customer</a>
                            </li>

                        }
                        else
                        {
                        <li class="nav-item">
                            <a class="nav-link active" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        
                        }
                        
                      
                        <li class="nav-item">
                            <a class="nav-link active" asp-area="" asp-controller="Categories" asp-action="Index">Categories</a>
                        </li>
                       
                            <li class="nav-item">
                                <a class="nav-link active" asp-area="" asp-controller="Products" asp-action="Index">Products</a>
                            </li>
                        
                       
                        
                  @*       else
                        {
                            <li class="nav-item">
                                <a class="nav-link active" asp-area="" asp-page="/Customer/Products">Products</a>
                            </li>
                        } *@
                  
                
                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link active" asp-area="" asp-controller="Auth" asp-action="UserRoles">UserRoles</a>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link active" asp-area="" asp-page="/ContactEmail">Contact us</a>
                        </li>
                      
                        </ul>
                        </div>
                <ul class="navbar-nav">

                    @if (!User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a class="nav-link active" asp-area="" asp-page="/Register">SignUp</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" asp-area="" asp-page="/Login">Login</a>
                        </li>
                    }
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a class="nav-link active" asp-area="" asp-controller="Auth" asp-action="Logout">Logout</a>
                        </li>
                        <li class="nav-item">
                            <span class="nav-link active">Welcome, @User.Identity.Name!</span>
                        </li>
                    }

                    @if (User.IsInRole("Admin"))
                    {
                        <li class="nav-item">
                            <a class="nav-link active" asp-area="" asp-controller="Auth" asp-action="Signup">New User</a>
                        </li>
                        <li class="nav-item">

                            <a class="nav-link active" asp-controller="Orders" asp-action="Index">My Orders</a>
                        </li>
                    }
                    @if (User.IsInRole("Customer"))
                    {
                        <li class="nav-item">
                            <a class="nav-link active" asp-area="" asp-controller="Home" asp-action="CartShopping">My Cart</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active">@Count</a>
                        </li>
                        <li class="nav-item">

                            <a class="nav-link active">@totalPrice</a>
                        </li>
                     

                    }

                   

                 
@*                     @(User.IsInRole("Editor"))
                    @if (!User.Identity.IsAuthenticated)
 *@                </ul>

                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class=" footer ">
        <div class="container" style="color:gray;">
            &copy; 2023 - Trendify - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
