@model Trendify.DTOs.ProductsDto


<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="form-group">
    <label asp-for="Name" class="control-label"></label>
    <input asp-for="@Model.Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Description" class="control-label"></label>
    <input asp-for="@Model.Description" class="form-control" />
    <span asp-validation-for="Description" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Price" class="control-label"></label>
    <input asp-for="@Model.Price" class="form-control" />
    <span asp-validation-for="Price" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="StockQuantity" class="control-label"></label>
    <input asp-for="@Model.StockQuantity" class="form-control" />
    <span asp-validation-for="StockQuantity" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="CategoryID" class="control-label"></label>
    <input asp-for="@Model.CategoryID" class="form-control" />
    <span asp-validation-for="CategoryID" class="text-danger"></span>


    @if (Model.ProductId > 0)
    {
        <div class="form-group">
            <input type="submit" value="Update" class="btn btn-primary" />
        </div>
        
    }
    else
    {
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    }

</div>