@model Trendify.DTOs.ProductsDtoView

@{
    ViewData["Title"] = "Details";
}

<style>
    /* Style for the table */
    table {
        width: 100%;
        border-collapse: collapse;
    }

    /* Style for table headers */
    th {
        background-color: #f2f2f2;
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    /* Style for table cells */
    td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    /* Style for the buttons */
    .btn {
        margin-top: 10px;
       
    }

    
</style>
<table>
    <tr>
        <th>Product</th>
        <th>Details</th>
    </tr>
    <tr>
        <td>Name</td>
        <td>@Html.DisplayFor(model => model.Name)</td>
    </tr>
    <tr>
        <td>Description</td>
        <td>@Html.DisplayFor(model => model.Description)</td>
    </tr>
    <tr>
        <td>Price</td>
        <td>@Html.DisplayFor(model => model.Price)</td>
    </tr>
    <tr>
        <td>Stock Quantity</td>
        <td>@Html.DisplayFor(model => model.StockQuantity)</td>
    </tr>
    <tr>
        <td>Category</td>
        <td>@Html.DisplayFor(model => model.Category.CategoryID)</td>
    </tr>
</table>

<div>
    <a class="btn btn-outline-dark" asp-action="Edit" asp-route-id="@Model?.ProductID">Edit</a> |
    <a class="btn btn-outline-dark" asp-action="Index">Back to List</a>
</div>
