@{
	ViewData["Title"] = "Home Page";
}


<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="author" content="Untree.co">
	<link rel="shortcut icon" href="favicon.png">

	<meta name="description" content="" />
	<meta name="keywords" content="bootstrap, bootstrap4" />

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/slider.css" asp-append-version="true" />
	
	
	
</head>


<div class="flex-Row" style="flex-wrap:wrap">
	@foreach (var item in Model)
	{
		<div class="card" style="width:23rem ;margin:4px">
			<a asp-action="Details" asp-route-id="@item.CategoryID">
				<img src="@item.ImageUrl" class="card-img-top post-thumbnail" style="width:100%;height:300px">

			</a>
			<div class="card-body" style="display:flex;flex-direction:column; width:100%;">
				<div style="align-self:end"><h3 class="btn btn-dark" ,class="card-title" style="border-radius:5%; color:white;">@item.Price$</h3></div>

				<div style=" justify-content:space-between;align-items:center">

					<h4 class="card-title">@item.Name</h4>


				</div>
				<h6>@item.Description</h6>


				<div style="display:flex; justify-content:space-around;margin-top:auto; width:100%">

					<a class="btn btn-outline-dark" asp-controller="Products" asp-action="Details" asp-route-id="@item.ProductID"> Details</a>

					@if (User.IsInRole("Editor") || User.IsInRole("Admin"))
					{
						<a class="btn btn-outline-warning" asp-controller="Products" asp-action="Edit" asp-route-id="@item.ProductID">Edit</a>
					}

					@if (User.IsInRole("Admin"))
					{
						<a class="btn btn-outline-danger" asp-controller="Products" asp-action="Delete" asp-route-id="@item.ProductID">Delete</a>
					}
				</div>
				<form asp-controller="Products" asp-action="AddToCart" method="post">
					<input type="hidden" name="productId" value="@item.ProductID" />
					<div class="form-group">
						<label for="quantity">Quantity:</label>
						<input type="number" class="form-control" id="quantity" name="quantity" value="1" min="1" />
					</div>
					<button type="submit" class="btn btn-primary">Add to Cart</button>
				</form>
			</div>
		</div>


	}
</div>

<body>

	<div class="blog-section">
		<div class="container">
			<div class="row mb-5">
				<div class="col-md-6">
					<h2 class="section-title">Recent Blog</h2>
				</div>
				<div class="col-md-6 text-start text-md-end">
					<a href="#" class="more">View All Posts</a>
				</div>
			</div>

			<div class="row">

				<div class="col-12 col-sm-6 col-md-4 mb-4 mb-md-0">
					<div class="post-entry">
						<a href="#" class="post-thumbnail"><img src="images/P1.jpg" alt="Image" class="img-fluid"></a>
						<div class="post-content-entry">
							<h3><a href="#">First Time Home Owner Ideas</a></h3>
							<div class="meta">
								<span>by <a href="#">Kristin Watson</a></span> <span>on <a href="#">Dec 19, 2021</a></span>
							</div>
						</div>
					</div>
				</div>

				<div class="col-12 col-sm-6 col-md-4 mb-4 mb-md-0">
					<div class="post-entry">
						<a href="#" class="post-thumbnail"><img src="images/P1.jpg" alt="Image" class="img-fluid"></a>
						<div class="post-content-entry">
							<h3><a href="#">How To Keep Your Furniture Clean</a></h3>
							<div class="meta">
								<span>by <a href="#">Robert Fox</a></span> <span>on <a href="#">Dec 15, 2021</a></span>
							</div>
						</div>
					</div>
				</div>

				<div class="col-12 col-sm-6 col-md-4 mb-4 mb-md-0">
					<div class="post-entry">
						<a href="#" class="post-thumbnail"><img src="images/P1.jpg" alt="Image" class="img-fluid"></a>
						<div class="post-content-entry">
							<h3><a href="#">Small Space Furniture Apartment Ideas</a></h3>
							<div class="meta">
								<span>by <a href="#">Kristin Watson</a></span> <span>on <a href="#">Dec 12, 2021</a></span>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
	<script>const slider = document.querySelector('.slider');
const slides = slider.querySelectorAll('li');

// Store the total number of images
const slideCount = slides.length;
let activeSlide = 0;

// To change the images dynamically every 
// 5 Secs, use SetInterval() method
setInterval(() => {
    slides[activeSlide].classList.remove('active');
    activeSlide++;
    if (activeSlide === slideCount) {
        activeSlide = 0;
    }
    slides[activeSlide].classList.add('active');
}, 5000);</script>
	<script src="~/js/bootstrap.js" asp-append-version="true"></script>
	<script src="~/js/custom.js" asp-append-version="true"></script>
	<script src="~/js/tiny.js" asp-append-version="true"></script>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
</body>

</html>
