@model IEnumerable<Trendify.DTOs.CategoryDtoView>

@{
	ViewData["Title"] = "Home Page";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (User.IsInRole("Admin") || User.IsInRole("Editor"))
{

	<!DOCTYPE html>
	<html lang="en">
	

	<body>

		

		<div class="blog-section">
			<div>
				@* 	<div >
			<div class="flex-row justify-content-center" style="margin:10px">
			@if (User.IsInRole("Editor"))
			{
			<h2 class="section-title">Welcome Editor @User.Identity.Name</h2>

			}
			else
			{
			<h2 class="section-title">Welcome Admin @User.Identity.Name</h2>

			}

			</div>

			</div> *@


				<div style="margin-left:40px" class="row ">

					<div class="col-12 col-sm-6 col-md-4 mb-4 mb-md-0">
						<div class="post-entry">
							<a asp-controller="Categories" asp-action="Index" class="post-thumbnail">
								<img src="https://lectera.com/info/storage/img/20220309/b87d52d6ede361b47b0c_808xFull.png" alt="Image" class="img-fluid" style="height:200px;width:400px">
							</a>
							<div class="post-content-entry text-center">
								<h3><a asp-controller="Categories" asp-action="Index"> View All category</a></h3>

							</div>
						</div>
					</div>

					<div class="col-12 col-sm-6 col-md-4 mb-4 mb-md-0">
						<div class="post-entry">
							<a asp-controller="Products" asp-action="Index" class="post-thumbnail"><img src="https://cdn.shopify.com/s/files/1/0070/7032/files/trending-products_c8d0d15c-9afc-47e3-9ba2-f7bad0505b9b.png?format=jpg&quality=90&v=1614559651" alt="Image" class="img-fluid" style="height:200px;width:400px"></a>
							<div class="post-content-entry text-center">
								<h3><a asp-controller="Products" asp-action="Index">View all Product</a></h3>


							</div>

						</div>
					</div>
					
						<div class="col-12 col-sm-6 col-md-4 mb-4 mb-md-0">
							<div class="post-entry">
							<a asp-area="" asp-controller="Auth" asp-action="UserRoles" class="post-thumbnail"><img src="https://static.prod01.ue1.p.pcomm.net/blackbaud/user_content/photos/000/006/6783/a6132a5cd55abcae190bc82567ca8a47-original-users.png" alt="Image" class="img-fluid" style="height:200px;width:400px"></a>
								<div class="post-content-entry text-center ">
									<h3><a asp-area="" asp-controller="Auth" asp-action="UserRoles">View all User</a></h3>

								</div>
							</div>
						</div>
					<div class="col-12 col-sm-6 col-md-4 mb-4 mb-md-0">
						<div class="post-entry">
							<a asp-area="" asp-controller="Orders" asp-action="Index" class="post-thumbnail"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTN6NY9UFcP-6dikKX8YTjblktwCUnoILINhA&usqp=CAU" alt="Image" class="img-fluid" style="height:200px;width:400px"></a>
							<div class="post-content-entry text-center ">
								<h3><a asp-area="" asp-controller="Orders" asp-action="Index">View All Orders</a></h3>
								</div>
						</div>
					</div>
					


				</div>
			</div>
		</div>

	</body>

	</html>

}
else
{


	<!DOCTYPE html>
	<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="author" content="Untree.co">
		<link rel="shortcut icon" href="favicon.png">

		<meta name="description" content="" />
		<meta name="keywords" content="bootstrap, bootstrap4" />

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
		<link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
		<link rel="stylesheet" href="~/css/slider.css" asp-append-version="true" />



	</head>

	<body>
		<section style="margin-left:-7.5%; margin-right:-7.5%;margin-bottom:20px; ">
		<div class="hero">
			<div class="container">
				<div class="row justify-content-between">
					<div class="col-lg-5">
						<div class="intro-excerpt">
							<h1>Trendify</h1>
							<p class="mb-4">
								Welcome to Trendify – Your Ultimate Shopping Destination!
								Discover a World of Possibilities in Every Click.
								Shop, Explore, and Experience Convenience Like Never Before.
							</p>
							<p><a href="" class="btn btn-secondary me-2">Shop Now</a>
						</div>
					</div>
					<div class="col-lg-7">
						<div>
							<img style="width:300;height:200;" src="~/images/banner-home.png" class="img-fluid">
						</div>
					</div>
				</div>
			</div>
		</div>
		</section>
		@*<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
	<ol class="carousel-indicators">
	<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
	<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
	<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
	</ol>
	<div class="carousel-inner">
	<div class="carousel-item active">
	<img class="d-block w-100" src="~/images/asus.jpg" alt="First slide">
	</div>
	<div class="carousel-item">
	<img class="d-block w-100" src="~/images/P1.jpg" alt="Second slide">
	</div>
	<div class="carousel-item">
	<img class="d-block w-100" src="images/P1.jpg" alt="Third slide">
	</div>
	</div>
	<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
	<span class="carousel-control-prev-icon" aria-hidden="true"></span>
	<span class="sr-only">Previous</span>
	</a>
	<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
	<span class="carousel-control-next-icon" aria-hidden="true"></span>
	<span class="sr-only">Next</span>
	</a>
	</div>*@
		<!-- Start Hero Section -->
		@*
	<div class="container">
	<div class="row justify-content-between">



	<p class="mb-4">Welcome to Trendify Discover a world of quality products at unbeatable prices.</p>



	</div>
	<div class="col-md-6">
	<div class="image_1"><img style="width:100%;" src="images/P1.jpg"></div>
	</div>
	</div>*@

		<!-- End Hero Section -->
		<!-- Start Product Section -->
		<section style="background-color:#d8e8e4; margin-left:-7.5%; margin-right:-7.5%;">
		<div class="product-section">
			<div class="container">
				<div class="row">



					<!-- Start Column 1 -->
					<div class="col-md-12 col-lg-3 mb-5 mb-lg-0">
						<h2 class="mb-4 section-title">Some Of Our Categorys</h2>
						<p class="mb-4">Explore our diverse product categories, each brimming with top-quality items that cater to your unique preferences. From electronics to fashion, home decor to fitness gear, find everything you need conveniently organized in our user-friendly categories.</p>
					
					</div>
					<!-- End Column 1 -->
					@{var count = 0;}
					@foreach (var category in Model)
					{
						if(count < 3){
						<!-- Start Column 2 -->
						<div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0" asp-route-id="@category.CategoryID">
							<a class="post-thumbnail" href="cart.html" style="text-decoration: none;">
								<img class="img-fluid" src="@category.ImageURL" style="border-radius:20px;">
								<h3>@category.Name</h3>
								<strong class="product-price"></strong>

							</a>
						</div>
						count++;
							}
						<!-- End Column 2 -->
						@* <!-- Start Column 3 -->
				<div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
				<a class="product-item" href="cart.html">
				<img src="@category.ImageURL" class="img-fluid product-thumbnail">
				<h3 class="product-title">Kruzo Aero Chair</h3>
				<strong class="product-price">$78.00</strong>

				</a>
				</div>
				<!-- End Column 3 -->
				<!-- Start Column 4 -->
				<div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
				<a class="product-item" href="cart.html">
				<img src="@category.ImageURL" class="img-fluid product-thumbnail">
				<h3 class="product-title">Ergonomic Chair</h3>
				<strong class="product-price">$43.00</strong>

				</a>
				</div> *@
						<!-- End Column 4 -->
					}
				</div>
			</div>
		</div>
		</section>
		<!-- End Product Section -->
		<!-- Start Why Choose Us Section -->
		<section style="margin-left:-7.5%; margin-right:-7.5%;">
		<div class="why-choose-section">
			<div class="container">
				<div class="row justify-content-between">
					<div class="col-lg-6">
						<h2 class="section-title">Why Choose Us</h2>
						<p>Discover excellence in online shopping at Trendify. With fast, free shipping, top-quality products, and 24/7 support, we make your shopping experience easy, convenient, and reliable.</p>

						<div class="row my-5">
							<div class="col-6 col-md-6">
								<div class="feature">
									<div class="icon">
										<img src="images/truck.svg" alt="Image" class="imf-fluid">
									</div>
									<h3>Fast &amp; Free Shipping</h3>
									<p>Shop with confidence knowing that we offer lightning-fast and free shipping on eligible orders, ensuring your items reach your doorstep in no time.</p>
								</div>
							</div>

							<div class="col-6 col-md-6">
								<div class="feature">
									<div class="icon">
										<img src="images/bag.svg" alt="Image" class="imf-fluid">
									</div>
									<h3>Easy to Shop</h3>
									<p>Experience hassle-free shopping with our user-friendly interface, making it easy to find and purchase your desired products.</p>
								</div>
							</div>

							<div class="col-6 col-md-6">
								<div class="feature">
									<div class="icon">
										<img src="images/support.svg" alt="Image" class="imf-fluid">
									</div>
									<h3>24/7 Support</h3>
									<p>Enjoy 24/7 customer support for all your inquiries and assistance, ensuring a seamless shopping experience.</p>
								</div>
							</div>

							<div class="col-6 col-md-6">
								<div class="feature">
									<div class="icon">
										<img src="images/return.svg" alt="Image" class="imf-fluid">
									</div>
									<h3>Hassle Free Returns</h3>
									<p>Experience hassle-free returns, because your satisfaction is our priority.</p>
								</div>
							</div>

						</div>
					</div>

					<div class="col-lg-5">
						<div class="img-wrap" style="margin-top:80px;">
							<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
								<div class="carousel-inner">
									<div class="carousel-item active">
										<img class="d-block w-100" src="~/images/laptopp.png" alt="First slide">
									</div>
									<div class="carousel-item">
										<img class="d-block w-100" src="~/images/iphone15.png" alt="Second slide">
									</div>
									<div class="carousel-item">
										<img class="d-block w-100" src="~/images/plp-studiopro.png" alt="Third slide">
									</div>
								</div>
								<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
									<span class="carousel-control-prev-icon" aria-hidden="true"></span>
									<span class="visually-hidden">Previous</span>
								</a>
								<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
									<span class="carousel-control-next-icon" aria-hidden="true"></span>
									<span class="visually-hidden">Next</span>
								</a>
							</div>
						</div>
					</div>


				</div>
			</div>
		</div>
		</section>
		<!-- End Why Choose Us Section -->
		<!-- Start We Help Section -->
		<section style="background-color:#d8e8e4; margin-left:-7.5%; margin-right:-7.5%;">
		<div class="we-help-section">
			<div class="container">
				<div class="row justify-content-between">
					<div class="col-lg-7 mb-5 mb-lg-0">
						<div class="imgs-grid">
							<div class="grid grid-1"><img src="images/laptopp.png" alt="Untree.co"></div>
							<div class="grid grid-2"><img src="images/plp-studiopro.png" alt="Untree.co"></div>
							<div class="grid grid-3"><img src="images/laptop.png" alt="Untree.co"></div>
						</div>
					</div>
					<div class="col-lg-5 ps-lg-5">
						<h2 class="section-title mb-4">Start your journey of technological excellence</h2>
						<p>Explore a world of innovation in our extensive collection of electronic devices and gadgets, all designed to elevate your daily life.
							Explore the latest smartphones boasting stunning displays and powerful processors, alongside smart home appliances that streamline your
							everyday routines. Whether you're a tech enthusiast or simply seeking to upgrade your home, our curated selection offers something for 
							everyone. We're dedicated to delivering quality, top-notch performance, and unwavering customer satisfaction. Experience the best in 
							electronics, all conveniently at your fingertips. </p>

					</div>
				</div>
			</div>
		</div>
		</section>
		<!-- End We Help Section -->
		<!-- Start Blog Section -->
		<section style="margin-left:-7.5%; margin-right:-7.5%;">
		<div class="blog-section">
			<div class="container">
				<div class="row mb-5">
					<div>
							<h2 style="text-align:center;">Some products are from different categories</h2>
							<br />
					</div>
					
				</div>

				<div class="row">


					<div class="col-12 col-sm-6 col-md-4 mb-4 mb-md-0">
						@if (Model != null && Model.Any())
						{
							<div style="display:flex; justify-content:space-between;">
								@foreach (var category in Model)
								{
										<div style="margin-left:10px; margin-right:80px;">
									<div class="post-entry">
										<div class="post-content-entry">
											<h3><a href="#">@category.Name</a></h3>
										</div>
											
										@if (category.Products != null && category.Products.Any())
										{
											<br />
											
												@foreach (var product in category.Products.Take(1))
												{
													<a  href="@Url.Action("ProductDetail", "Products", new { id = product.ProductID })">
														<img src="@product.ImageUrl" alt="Product Image" class="img-fluid">
														<h4>@product.Name</h4>
														<p>@product.Description</p>
														<p>@product.Price</p>
													</a>
												}
											
										}
											</div>
									</div>
								}
							</div>
						}
						else
						{
							<p>No categories available.</p>
						}
					</div>
					
					@*
					<div class="col-12 col-sm-6 col-md-4 mb-4 mb-md-0">
				<div class="post-entry">
				<a href="#" class="post-thumbnail"><img src="images/P1.jpg" alt="Image" class="img-fluid"></a>
				<div class="post-content-entry">
				<h3><a href="#">How To Keep Your Furniture Clean</a></h3>
				<div class="meta">
				<span>by <a href="#">Robert Fox</a></span> <span>on <a href="#">Dec 15, 2021</a></span>
				</div>
				</div>
				</div>
				</div>*@
				
				@*
				<div class="col-12 col-sm-6 col-md-4 mb-4 mb-md-0">
				<div class="post-entry">
				<a href="#" class="post-thumbnail"><img src="images/P1.jpg" alt="Image" class="img-fluid"></a>
				<div class="post-content-entry">
				<h3><a href="#">Small Space Furniture Apartment Ideas</a></h3>
				<div class="meta">
				<span>by <a href="#">Kristin Watson</a></span> <span>on <a href="#">Dec 12, 2021</a></span>
				</div>
				</div>
				</div>
				</div>*@

				</div>
			</div>
		</div>
		</section>
		<!-- End Blog Section -->
		@*
	<!-- Start Footer Section -->
	<footer class="footer-section">
	<div class="container relative">

	<div class="row g-5 mb-5">
	<div class="col-lg-4">
	<div class="mb-4 footer-logo-wrap"><a href="#" class="footer-logo">Furni<span>.</span></a></div>
	<p class="mb-4">Donec facilisis quam ut purus rutrum lobortis. Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate velit imperdiet dolor tempor tristique. Pellentesque habitant</p>

	<ul class="list-unstyled custom-social">
	<li><a href="#"><span class="fa fa-brands fa-facebook-f"></span></a></li>
	<li><a href="#"><span class="fa fa-brands fa-twitter"></span></a></li>
	<li><a href="#"><span class="fa fa-brands fa-instagram"></span></a></li>
	<li><a href="#"><span class="fa fa-brands fa-linkedin"></span></a></li>
	</ul>
	</div>

	<div class="col-lg-8">
	<div class="row links-wrap">
	<div class="col-6 col-sm-6 col-md-3">
	<ul class="list-unstyled">
	<li><a href="#">About us</a></li>
	<li><a href="#">Services</a></li>
	<li><a href="#">Blog</a></li>
	<li><a href="#">Contact us</a></li>
	</ul>
	</div>

	<div class="col-6 col-sm-6 col-md-3">
	<ul class="list-unstyled">
	<li><a href="#">Support</a></li>
	<li><a href="#">Knowledge base</a></li>
	<li><a href="#">Live chat</a></li>
	</ul>
	</div>

	</div>
	</div>

	</div>

	<div class="border-top copyright">
	<div class="row pt-4">
	<div class="col-lg-6">
	<p class="mb-2 text-center text-lg-start">Copyright &copy;<script>document.write(new Date().getFullYear());</script>. All Rights Reserved. &mdash; Designed with love by <a href="https://untree.co">Untree.co</a> Distributed By <a hreff="https://themewagon.com">ThemeWagon</a>  <!-- License information: https://untree.co/license/ -->
	</p>
	</div>

	<div class="col-lg-6 text-center text-lg-end">
	<ul class="list-unstyled d-inline-flex ms-auto">
	<li class="me-4"><a href="#">Terms &amp; Conditions</a></li>
	<li><a href="#">Privacy Policy</a></li>
	</ul>
	</div>

	</div>
	</div>

	</div>
	</footer>
	<!-- End Footer Section -->
	*@
		<script>
			const slider = document.querySelector('.slider');
			const slides = slider.querySelectorAll('li');

			// Store the total number of images
			const slideCount = slides.length;
			let activeSlide = 0;

			// To change the images dynamically every
			// 5 Secs, use SetInterval() method
			setInterval(() => {
				slides[activeSlide].classList.remove('active');
				activeSlide++;
				if (activeSlide === slideCount) {
					activeSlide = 0;
				}
				slides[activeSlide].classList.add('active');
			}, 5000);</script>
		<script src="~/js/bootstrap.js" asp-append-version="true"></script>
		<script src="~/js/custom.js" asp-append-version="true"></script>
		<script src="~/js/tiny.js" asp-append-version="true"></script>
		<script src="~/lib/jquery/dist/jquery.min.js"></script>
		<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
		<script src="~/js/site.js" asp-append-version="true"></script>
	</body>

	</html>

}